body {
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  font-family: "Roboto", sans-serif;
}

h1 {
  background-color: darkcyan;
  margin: 0 auto;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  padding: 13px 13px 13px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid (rgba(0, 0, 0, 0));
}

input:focus {
  background: white;
  border: 3px solid lightskyblue;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  height: 40px;
  background-color: white;
  line-height: 40px;
  color: #666;
}

.container {
  background-color: lightskyblue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 360px;
}

.fa-plus {
  float: right;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

.delete {
  background-color: red;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.5s;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}
